ffmpeg
libav-tools
git+https://github.com/openai/whisper.git 
fastapi==0.95.1
uvicorn==0.22.0
python-multipart==0.0.6
jinja2==3.1.2
starlette==0.26.1
itsdangerous==2.1.2
PyPDF2==3.0.1
python-docx==0.8.11
pandas
openpyxl==3.1.2
html2text
requests
aiohttp
youtube-transcript-api
urllib3
python-magic
torch
ffmpeg-python
pillow
python-dotenv
